body {
    font-family: 'Noto Serif', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

.name {
    color: orange;
    font-size: larger;
}

.first-sec {
    display: flex;
    margin-bottom: 200px;
}

.first-divs {
    width: 50%;
    padding-left: 5%;
    padding-right: 3%;
}

.first-divs img {
    margin-top: 5%;
    width: 100%;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 10px;
}

.secound-sec {
    display: flex;
    background-color: antiquewhite;
    border-radius: 50px;
    margin-bottom: 150px;
}

.sec-divs {
    width: 50%;
    text-align: justify;
}

sec-divs img {
    width: 100%;

}

.sec-divs p {
    color: aqua;
}

.n-butn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 800px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: larger;
}

.third-sec {
    margin-bottom: 150px;
}

.nn {
    text-align: center;
}

.pera {
    width: 50%;
    margin-left: 25%;
}